body, header, p, div, ul, li, section, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	text-align: center;
	padding: 50px;
}

rect {
	transition: .3s;
}

rect:hover {
	fill: red !important;
}

text {
	cursor: pointer;
	transition: .4s;
}